<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menswear Shop</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  {% load static %}
</head>
<body class="bg-light">

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Menswear Shop</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Products</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Cart</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-light ms-2" href="../logout">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- card details -->
   <div class="container my-5">
    <div class="row">
    <div class="col-lg-5">
        <img src="{{product.img.url}}"  style="width: 100%; height: 500px; border: 1px solid black;" alt="">
    </div>
    <div class="col-lg-7">
        <h3 class="my-5">{{product.name}}</h3>
        <p class="mb-3">
            <span  style="text-decoration: line-through;">₹{{product.price}}.00</span>
            <span style="font-size:larger;">₹{{product.off_price}}.00</span>
        </p>
        <a href="../add_to_cart/{{product.pk}}" class="btn btn-outline-dark mb-5">Add to Cart</a>
        <a href="#" class="btn btn-outline-success mb-5">Buy Now</a>
        <p>{{product.dis}}</p>
    </div>
    </div>
   </div>


 

  <!-- Footer -->
  <footer class="bg-dark text-white text-center py-3 fixed-bottom">
    <p class="mb-0">&copy; 2024 Menswear Shop. All Rights Reserved.</p>
  </footer>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
